#fejlapszoveg {
    color: black;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    margin-left: 0px;
    width: 100%;
}
td {
    padding: 20px 40px 20px
}
table, th, td {
    border: 1px solid black;
  }