#fejlapszoveg {
    color: black;
    position: fixed;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    margin-left: 80px;
    background-color: ;

    
    
}
td {
    padding: 20px 40px 20px
}